asgiref             
Django              
djangorestframework 
dotenv              
dj-database-url
pip                 
psycopg2-binary     
python-dotenv      
sqlparse          
uvicorn
gunicorn
whitenoise